h3 {
    font-size: 15px;
}

.first_tim{
    margin-top: 220px;
}

.carts_tim {
    justify-content: center;
}
/* Header */

.header_main_background_tim {
    background-image: url(./imggg/header_background_tim.png);
    background-size: cover; /* Растягивает изображение на всю ширину и высоту */
    background-position: center;
    padding-bottom: 400px;
}

.main_header_location_tim {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main_header_guests_tim {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main_header_date_tim {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main_header_button_tim {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.create_line_tim3 {
    border:1px solid;
    border-right-color: #E8EAEB;
    border-top: #ffffff00;
    border-left: #ffffff00;
    border-bottom: #ffffff00;
    height: 14px;
    margin: 0 10px;
}

.main_block_location_tim {
    display: flex;
}

.main_block_guests_tim {
    display: flex;
}

.main_block_data_tim {
    display: flex;
}

.form_tim {
    width: 1000px;
    height: 90px;
    margin-top: 150px;
    background-color: #ffffff;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    position: absolute; 
    top: 80%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

.main_header_button_block_tim {
    width: 150px;
    height: 54px;
    border-radius: 40px;
    background-color: #FFDA32;
    font-family: mulish;
    font-weight: 800;
    font-size: 16px;
    color: #1C2B38;
}
/* END HEADER */

/* MAIN_WE */

.main_we_tim {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.watch_video_tim {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_we_text_tim {
    width: 737px;
    height: 62px;
    font-family: volkhov;
    font-weight: 700;
    font-size: 48px;
    color: #1C2B38;
    margin-bottom: 22px;
    margin-top: 150px;
}

.main_we_Amet_text_tim {
    font-family: mulish;
    font-weight: 600;
    font-size: 16px;
    color: #1C2B38;
    margin-bottom: 18px;
    width: 530px;
}

.main_we_watch_tim {
    margin-left: 15px;
    font-family: mulish;
    font-weight: 700;
    font-size: 20px;
    color: #1C2B38;
}

.main_we_button_tim {
    box-shadow: 0 0 0 10px #e2f0f0ab, 0 0 0 10px #ffffff; 
    border: 15px solid #d4f0eeb0;
    border-radius: 50px;
    width: 100px;
    height: 100px;
}

/* END MAIN_WE */

/* MAIN_EXPLORE */

.main_explore_tim {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 100px;
}

.main_explore_text_tim {
    width: 397px;
    height: 46px;
    font-family: volkhov;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    color: #1C2B38;
    margin-bottom: 19px;
}

.main_explore_Amet_tim {
    width: 696px;
    height: 50px;
    font-family: mulish;
    font-weight: 600;
    font-size: 16px;
    color: #778088;
    margin-bottom: 40px;
    text-align: center;
}

.main_explore_button_tim {
    width: 130px;
    height: 44px;
    border-radius: 30px;
    border:1px solid;
    border-color: #7BBCB0;
    margin-right: 10px;
    font-family: mulish;
    font-weight: 700;
    font-size: 14px;
    color: #495560;
}

/* END MAIN_EXPLORE */

/* MAIN_ALASKA */
.main_alaska_tim {
    display: flex;
    position: relative; 
}

.main_alaska_img_tim {
    margin: 0 auto;
}

.main_alaska_info_tim {
    background-color: #F9FDFF;
    width: 1110px;
    height: 275px;
    position: absolute; 
    top: 110%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    font-size: 24px; 
    display: flex;
    justify-content: space-between;
}

.main_alaska_more_tim {
    margin-left: 30px;
    max-width: 464px;
}

.main_alaska_text_tim {
    width: 215px;
    height: 83px;
    font-family: volkhov;
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    color: #1C2B38;
    margin-top: 49px;
}

.main_alaska_Amet_tim {
    width: 464px;
    height: 73px;
    font-family: mulish;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    color: #778088;
    margin-bottom: 60px;
}

.main_alaska_more_info_tim {
    margin: 67px 50px 67px 0;
    display: flex;
    width: 420px;
    flex-wrap: wrap;
}

.bus_tim {
    display: flex;
    background-color: #FFFFFF;
    border-radius: 8px;
    align-items: center;
    width: 200px;
    height: 40px;
    margin-right: 10px;
    padding: 11px 20px;
}

.bus_text_tim {
    width: 152px;
    height: 18px;
    font-family: mulish;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    color: #D176E0;
    margin-left: 5px;
}

.pass_tim {
    width: 150px;
}

.explore_tim {
    display: flex;
    background-color: #FFFFFF;
    border-radius: 8px;
    align-items: center;
    width: 190px;
    height: 40px;
    margin-right: 10px;
    padding: 11px 20px;
}

.explore_text_tim {
    width: 152px;
    height: 18px;
    font-family: mulish;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    color: #7BBCB0;
    margin-left: 5px;
}

.car_tim {
    display: flex;
    background-color: #FFFFFF;
    border-radius: 8px;
    align-items: center;
    width: 210px;
    height: 40px;
    margin-right: 10px;
    padding: 11px 20px;
}

.car_text_tim {
    width: 152px;
    height: 18px;
    font-family: mulish;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    color: #E4B613;
    margin-left: 5px;
}

.backpack_tim {
    display: flex;
    background-color: #FFFFFF;
    border-radius: 8px;
    align-items: center;
    width: 160px;
    height: 40px;
    margin-right: 10px;
    padding: 11px 20px;
}

.backpack_text_tim {
    width: 152px;
    height: 18px;
    font-family: mulish;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    color: #FC3131;
    margin-left: 5px;
}


.local_tim {
    display: flex;
    background-color: #FFFFFF;
    border-radius: 8px;
    align-items: center;
    width: 130px;
    height: 40px;
    margin-right: 10px;
    padding: 11px 20px;
}

.local_text_tim {
    width: 152px;
    height: 18px;
    font-family: mulish;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    color: #5C9BDE;
    margin-left: 5px;
}

/* END MAIN_ALASKA */

/* ALASKA */

.alaska_tim {
    background-image: url(./imggg/Alaska_background_tim.png);
    background-size: 100% 100%;
    transform: scale(1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 74px;
    margin-top: 107px;
}

.alaska_info_tim {
    width: 465px;
}

.alaska_trending_tim {
    background: #AFFFF0;
    border-radius: 30px;
    font-family: mulish;
    font-weight: 800;
    font-size: 12px;
    color: #1C2B38;
    width: 130px;
    height: 30px;;
    margin-bottom: 10px;
}

.alaska_Wilderlife_tim {
    font-family: volkgov;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.alaska_more_info_tim {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.alaska_from_tim {
    width: 82px;
    height: 18px;
    font-family: mulish;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
}

.alaska_rating_tim {
    width: 21px;
    height: 18px;
    font-family: mulish;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
}

.alaska_Amet_tim {
    font-family: mulish;
    font-weight: 600;
    font-size: 16px;
    line-height: 25%;
    color: #FFFFFF;
}

.alaska_button_tim {
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.alaska_book_tim {
    background: #FFDA32;
    border-radius: 40px;
    font-family: mulish;
    font-weight: 800;
    font-size: 16px;
    text-align: center;
    color: #1C2B38;
    width: 200px;
    height: 50px;;
}

.create_line_tim1 {
    border:1px solid;
    border-right-color: #ffffff;
    border-top: #ffffff00;
    border-left: #ffffff00;
    border-bottom: #ffffff00;
    height: 14px;
    margin: 0 10px;
}

.create_line_tim2 {
    border:1px solid;
    border-right-color: #ffffff;
    border-top: #ffffff00;
    border-left: #ffffff00;
    border-bottom: #ffffff00;
    height: 15px;
    margin: 0 20px;
}

.alaska_like_tim {
    border:1px solid;
    border-color: #FFFFFF;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #ffffff4d;
    margin-right: 6px;
}

.alaska_share_tim {
    border:1px solid;
    border-color: #FFFFFF;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #ffffff4d;
}

/* END ALASKA */

/* Featured Destinations */

.Featured_info_tim {
    display: flex;
    justify-content: space-between;
    margin: 0 135px 58px 135px;
}

.Featured_more_info_tim {
    width: 538px;
}

.Featured_text_tim {
    width: 391px;
    height: 46px;
    font-family: volkhov;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    color: #1C2B38;
    margin-bottom: 20px;
}

.Featured_Amet_tim {
    width: 538px;
    height: 50px;
    font-family: mulish;
    font-weight: 600;
    font-size: 16px;
    line-height: 25%;
    color: #778088;
}

.one {
    margin-left: 30px;
}
/* END Featured Destinations */

/* APP */
.app_tim {
    background-image: url(./imggg/App_tim.png);
    background-size: 100% 100%;
    transform: scale(1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.app_phone_tim {
    margin: 80px 60px;
}

.app_info_tim{
    width: 500px;
    height: 277px;
}

.Smart_tim{
    font-family: volkhov;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 6px;
}

.Available_tim{
    font-family: mulish;
    font-weight: 800;
    font-size: 16px;
    line-height: 100%;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 22px;
}

.Amet_tim {
    font-family: mulish;
    font-weight: 600;
    font-size: 16px;
    line-height: 25%;
    color: rgba(255, 255, 255, 1);
}

.app_button_tim {
    display: flex;
    margin-top: 40px;
    gap: 10px;
}

.app_button_IOS_tim {
    background: #FFDA32;
    border-radius: 40px;
    font-family: mulish;
    font-weight: 800;
    font-size: 16px;
    color: #1C2B38;
    width: 260px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app_button_Android_tim {
    background: #FFDA32;
    border-radius: 40px;
    font-family: mulish;
    font-weight: 800;
    font-size: 16px;
    color: #1C2B38;
    width: 260px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* END APP */

.wrapper {
    margin-top: 74px;
}