:root {
  --accent-color: #7bbcb0;
  --background-color-light: #f4f4f5;
  --container-background-color:#F9FAFD;
  --text-color: #1c2b38;
  --text-color-light: #778088;
  --text-color-light-secondary: #495560;
}
